.table{
    margin-top: 20px;
    overflow-y: scroll;
    height: 400px;
    color: #6a5d5d;
    background-color:white;
}
.table::-webkit-scrollbar{
    display: none;
}
.table td{
    padding: 0.5rem; 
}
.table tr{
    display: flex;
    justify-content: space-between
}

.table tr:nth-of-type(odd){
    background: #f3f2f8;
    border-radius: 3px;
}